<div data-page="about" class="page">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="center">about</div>
        </div>
    </div>

    <div class="toolbar">
        <div class="toolbar-inner">
            <a href="#" class="link">Link 1</a>
            <a href="#" class="link">Link 2</a>
        </div>
    </div>

    <div class="page-content">
        <p>Page content goes here</p>
        <a href="/about/">About app</a>
        <button class="goBack">go back</button>



    </div>


   
</div> 