<div data-page="index" class="page">

  <div class="navbar">
    <div class="navbar-inner">
      <div class="center">log in</div>
    </div>
  </div>

  <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 1</a>
      <a href="#" class="link">Link 2</a>
    </div>
  </div>

  <div class="page-content">

    <div class="content-block-title">Just inputs</div>
    <form class="form" method="post" action="/login">


      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input name="email" type="email" placeholder="E-mail">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-input">
                  <input name="password" type="password" placeholder="Your Password">
                </div>
              </div>
            </div>
          </li>


        </ul>
        <!-- <input type="submit" class="logIn" value="logIn"> -->
        <input type="button" class="login" value="login">

      </div>
    </form>

    <!-- <button class="pageBtn" data-page="signup" data-animate-pages="false">signup</button> -->
    <button class="goBack">go back</button>
  </div>



</div>