<div data-page="index" class="page">

  <div class="navbar">
    <div class="navbar-inner">
      <div class="center">Awesome App</div>
    </div>
  </div>

  <div class="toolbar">
    <div class="toolbar-inner">
      <a href="#" class="link">Link 1</a>
      <a href="#" class="link">Link 2</a>
    </div>
  </div>

  <div class="page-content">

    <div class="content-block-title">Sign up</div>
    <form class="form" method="post" action="/join">


      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">email</div>
                <div class="item-input">
                  <input name="email" type="email" placeholder="E-mail">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">name</div>
                <div class="item-input">
                  <input name="name" type="text" placeholder="name">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">password</div>
                <div class="item-input">
                  <input name="password" type="password" placeholder="Your Password">
                </div>
              </div>
            </div>
          </li>


        </ul>
        <!-- <input type="submit" class="logIn" value="logIn"> -->
        <input type="button" class="join" value="join">
      </div>
    </form>

    <button class="pageBtn" data-page="login" data-animate-pages="false">go to login</button>
  </div>



</div>